VBUniversalApp/Service References/GALAServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientsData" nillable="true" type="tns:ClientsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientsData" nillable="true" type="tns:ArrayOfClientsData" />
  <xs:complexType name="ClientsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClasificacionIndustria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="CodGrupo" type="xs:int" />
      <xs:element minOccurs="0" name="CodPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionCobro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionEnviar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaApertura" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ter" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientsData" nillable="true" type="tns:ClientsData" />
</xs:schema>